{% extends 'tienda/base.html' %}
{% block content %}
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">
    <article>
      <!-- ################################################################################################ -->
      <h3 class="heading">Pagina Principal</h3>
      <p>Proyecto de Django, con integración con Materialize como Frontend</p>
      <p class="font-x1 uppercase bold">Que Disfrutes tu visita</p>
      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <ul class="nospace group services">
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-2x fa-registered"></i></a>
          <h6 class="heading font-x1">Misión</h6>
          <p>Ofrecer a nuestros clientes  productos de calidad, a precios cómodos  que cumplan con sus necesidades y exigencias. </p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-2x fa-renren"></i></a>
          <h6 class="heading font-x1">Visión</h6>
          <p>Ser una empresa  líder y reconocida en la venta de productos de consumos, lograr  extendernos y crear  nuestras cadenas de almacenes,   proporcionando cada día más un servicio de excelencia a nuestros clientes.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-2x fa-resistance"></i></a>
          <h6 class="heading font-x1">Objetivo</h6>
          <p>Ofrecer productos de mejor calidad para satisfacer las  necesidades del mercado, vender diverisdad de productos que cumplan con los requerimientos  en el segmento  del mercado.</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>

{% endblock %}
